@model BusinessObject.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Freight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Freight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<h1>Order details</h1>

<p>
    <a asp-action="Create" asp-controller="OrderDetail" asp-route-id="@Model.OrderId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                UnitPrice
            </th>
            <th>
                Quantity
            </th>
            <th>
                Discount
            </th>
            <th>
                Order
            </th>
            <th>
                Product
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.OrderDetails as IEnumerable<BusinessObject.OrderDetail>) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="OrderDetail" asp-route-orderId="@Model.OrderId" asp-route-productId="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-controller="OrderDetail" asp-route-orderId="@Model.OrderId" asp-route-productId="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-controller="OrderDetail" asp-route-orderId="@Model.OrderId" asp-route-productId="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
